ul {
    list-style: none;
    padding: 0;

}
.one{
    background-color: rgb(107, 107, 158);
    height: 100vh;
    width: 250px;
    /* padding: 10px; */
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    display: inline;
}
#btn1,#btn2,#btn3{
    background-color: rgb(107, 107, 158);
    border: none;
}
#overlay{
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
}
#popup{
    background-color: rgb(107, 107, 158) ;
    color: black;
    width: 400px;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    left: 35%;
    top: 25%;
    z-index: 2;
    display: none;
}

.input{
    width: 390px;
    height: 30px;
    border-radius: 5px;
}
.input1{
    width: 397px;
    height: 30px;
    border-radius: 5px;
}
.submit{
    width: 180px;
    height: 30px;
    border-radius: 5px;
}

#stds{
    background-color:  rgb(107, 107, 158) ;
    width: fit-content;
    height: fit-content;
    padding: 25px;
    border-radius: 5px;
    position: absolute;
    left: 30%;
    top: 25%;
    z-index: 2;
    display: none;

}

#co{
     background-color:  rgb(107, 107, 158) ;
    width: fit-content;
    height: fit-content;
    padding: 25px;
    border-radius: 5px;
    position: absolute;
    left: 30%;
    top: 25%;
    z-index: 2;
    display: none;


}

